{% extends "base.html" %}
{% block title %}Emotions - Emotion Explorer{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-center">Mood Board</h2>

    <div class="card mx-auto" style="max-width: 400px;">
        <div class="card-body">
            <h5 class="card-title text-center mb-3">Select Your Emotion</h5>
            <form method="POST" action="{{ url_for('default.emotions_display') }}">
                <input type="hidden" name="user_id" value="{{ current_user.id }}">
                <div class="mb-3">
                    <label for="existing_emotion" class="form-label">Choose Emotion</label>
                    <select class="form-select" id="existing_emotion" name="existing_emotion" required>
                        {% for emotion in emotions %}
                            <option value="{{ emotion.id }}">{{ emotion.stato }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
